html[data-theme="light"] {
    --pst-color-primary: #0098FF;
    --pst-color-secondary: #57B77E;
}

html[data-theme="dark"] {
    --pst-color-primary: #0098FF;
    --pst-color-secondary: #57B77E;
}

/* Change the highlight color, increase contrast*/
html[data-theme="light"] .highlight .hll {
    background-color: #fcf427;
}

img.plot-directive {
    max-height: 500px;
}


.img-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    border: var(--pst-color-border) 1px solid;
    border-radius: 5px;
    padding: 5px;
}

.sd-card-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}