name: CI

on:
  push:
    paths:
      - '.github/**'
      - 'marsilea/**'
      - 'tests/**'
      - 'pyproject.toml'
  pull_request:
    paths:
      - '.github/**'
      - 'marsilea/**'
      - 'tests/**'
      - 'pyproject.toml'

jobs:
  Test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.8', '3.9', '3.10', '3.11']

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .[dev]
      - name: Test with pytest
        run: |
          pip install pytest
          pip install pytest-cov
          pytest --cov=heatgraphy/ --cov-report=xml tests/

  Upload_to_test_pypi:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flit
          pip install .

      - name: Publish to test.ipynb pypi
        env:
          FLIT_INDEX_URL: https://test.ipynb.pypi.org/legacy/
          FLIT_USERNAME: ${{ secrets.PYPI_USERNAME }}
          FLIT_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: flit publish || exit 0

      - name: Publish to pypi
        if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/v')
        env:
          FLIT_INDEX_URL: https://upload.pypi.org/legacy/
          FLIT_USERNAME: ${{ secrets.PYPI_USERNAME }}
          FLIT_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: flit publish
